FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
RESEND_API_KEY=re_reemplazar
RSVP_TO_EMAIL=correo-destino@ejemplo.com
RESEND_FROM_EMAIL=Invitación Oscar y Damaris <confirmaciones@dominio-verificado.com>
